{
	"presets" :
	[
		[ 
			"@babel/preset-env",
			{
				"modules": false,

				"targets" :
				{
					"chrome": "65"
				}
			}
		]
	],

	"plugins" :
	[
		"@babel/plugin-proposal-object-rest-spread"
	]
}
